.App {
  text-align: center;
}


.tere {
  font-family: sans-serif;
  font-size: large;
  color: aquamarine;
}

div {
  background-color: #282c34;
}

button {
  padding: 20px;
  border-radius: 10px;
  background-color: antiquewhite;
  color: rgb(14, 53, 53);
  margin: 30px;
}

.kutsu {
  border-radius: 20px;
  height: 500px;
}

.mari {
  background-color: rgb(187, 125, 125);
  height: 300px;
  border-style: dotted;
}

.sten {
  background-color: rgb(95, 95, 105);
  height: 300px;
  border-style: dashed;
}

.gradient {
    height: 50px;
    background-image: linear-gradient(blue, purple);
}

span {
  padding: 10px
}

.valitud {
  font-weight: bold;
}